# Initial template based on: https://gist.github.com/GhostofGoes/94580e76cd251972b15b4821c8a06f59

# Instance folder
# This folder includes all configurations including senstitive information. Each file is ignored unless specifically excluded from the ignore
instance/


# Editor (PyCharm)
.idea/

# Windows
Thumbs.db

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
venv/

# Misc

todo.txt
