<!DOCTYPE html>
<html lang="en">
<!-- This template is created using Jinja tempalates: https://jinja.palletsprojects.com/en/2.11.x/templates/ -->

<head>
    {% block head %}
    <!-- Title block placeholder -->
    <title>{% block title %}BASE{% endblock title %} - Streeplijst </title>

    <!-- Meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Jelle H">

    <!-- Custom stylesheets -->
    <!-- OLD FILE <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" id="custom-css" href="{{ url_for('static', filename='css/custom-style.css') }}"
          type="text/css" media="all">

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Template scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Bootstrap stylesheets -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/sb-admin-2.js') }}"></script>

    {% endblock head %}
</head>

<body>

<!-- Main content block wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% block sidebar %}
    <ul id="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
        <!-- Sidebar - Brand -->
        <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <img class="img rounded" src="{{ url_for('static', filename='media/icons/ICON_paradoks.jpg') }}"
                     style="width:60px;">
                <div class="sidebar-brand-text mx-3">Streeplijst <sup>V2.0</sup></div>
            </a>
        </li>

        {% block sidebar_contents %}

        <!-- Applications -->
        <li>
            <div class="sidebar-heading">Applicaties</div>
        </li>
        {% block sidebar_applications %}
        <li class="nav-item active">
            <a class="nav-link py-1" href="{{ url_for('streeplijst.index') }}">
                <span>Streeplijst</span>
            </a>
        </li>
        {% endblock sidebar_applications %}
        <hr class="sidebar-divider pb-4">

        <!-- User -->
        <li>
            <div class="sidebar-heading">Gebruiker</div>
        </li>
        {% block sidebar_user %}

        {% if session['user_id'] %}
        <li class="nav-item">
            <div class="nav-link py-1">
                <span>
                    Welkom {{ session['user_first_name'] }}
                </span>
            </div>
        </li>
        {% block sidebar_user_logged_in %}
        <li class="nav-item active">
            <!-- TODO: Add user statistics url here -->
            <a class="nav-link py-1" href="#">
                <span>Statistieken</span>
            </a>
        </li>
        {% endblock sidebar_user_logged_in %}
        {% else %}
        <li class="nav-item">
            <div class="nav-link py-1">
                <span>
                    Niet ingelogd
                </span>
            </div>
        </li>
        <li class="nav-item active">
            <!-- TODO: Add user statistics url here -->
            <a class="nav-link py-1" href="{{ url_for('home.login') }}">
                <span>Inloggen</span>
            </a>
        </li>
        {% endif %}
        {% endblock sidebar_user %}
        <hr class="sidebar-divider pb-4">

        <!-- Breadcrumbs -->
        <li class="sidebar-heading">Breadcrumbs
        </li>
        {% block sidebar_breadcrumbs %}
        <li class="nav-item active">
            <!-- TODO: Add application overview url instead of home.index -->
            <a class="nav-link py-1" href="{{ url_for('home.index') }}">
                <span>Applicatie overzicht</span>
            </a>
        </li>
        {% endblock sidebar_breadcrumbs %}
        <hr class="sidebar-divider pb-4">

        {% endblock sidebar_contents %}

        <!-- Sidebar Toggler -->
        <!-- DISABLED
        <li>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><</button>
            </div>
        </li>
        -->

    </ul> <!-- #sidebar -->
    {% endblock sidebar %}

    <!-- Content Wrapper -->
    <div id="regular-content-wrapper" class="container-fluid d-flex flex-column">
        <!-- Actual content -->
        <div id="regular-content" class="container-fluid">

            <!-- Message container -->
            <div class="container pt-2">
                <!-- Regular messages -->
                {% with msgs = get_flashed_messages(category_filter=["message"]) %}
                {% if msgs %}
                {%- for msg in msgs %}
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    <h4>{{ msg }}</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor -%}
                {% endif %}
                {% endwith %}

                <!-- Error messages -->
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {%- for msg in errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4><strong>Oh jeetje!</strong> {{ msg }}</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor -%}
                {% endif %}
                {% endwith %}
            </div>

            {% block regular_content %}
            <!-- Content in the main section goes here -->
            <h1>This is the base template.</h1>
            {% endblock regular_content %}

            <!-- Footer -->
            <div id="footer" class="footer">
                {% block footer %}
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>&copy; Copyright 2020 by Jelle Hierck and Tom Busink</span>
                        </div>
                    </div>
                </footer>
                {% endblock footer %}
            </div> <!-- #footer -->
        </div> <!-- /#regular-content -->
    </div> <!-- /#regular-content-wrapper -->
</div> <!-- /#wrapper -->

{% block script %} {# Any extra scripts go here #}

<!-- SCRIPT TO OPEN AND CLOSE SIDEBAR -->
<script type="text/javascript">
    // Toggle the side navigation
    $("#sidebarToggle, #sidebarToggleTop").on("click", function(e) {
        $("body").toggleClass("sidebar-toggled");
        $(".sidebar").toggleClass("toggled");
        if ($(".sidebar").hasClass("toggled")) {
            $(".sidebar .collapse").collapse("hide");
        };
    });
</script>
{% endblock script %}

</body>

</html>
