{% extends "streeplijst_base.jinja2" %}

{% block title %}Folder Contents{% endblock title %}


{% block sidebar_breadcrumbs %}

{{ super() }}
<li class="nav-item active">
    <a class="nav-link py-1" href="{{ url_for('streeplijst.folder', folder_id=folder.id) }}">
        <span class="d-inline-block text-truncate" style="max-width: 100%">
            Folder: {{ folder.name }}
        </span>
    </a>
</li>

{% endblock sidebar_breadcrumbs %}


{% block regular_content %}

{{ super() }}

<!-- Item card holder -->
<div id="item-card-deck" class="row">

    {% for item in folder.items %} {# populate the cards in this folder #}
    <div class="col-lg-3 col-md-4">
        <form class="card m-1" action="{{ url_for('streeplijst.sale') }}" method="post">
            <!-- hidden field to store the item-id when the item is loaded. Needed to post the sale -->
            <input name="item-id" type="hidden" value="{{ item.id|e }}">

            <!-- Item image & title -->
            <div class="container p-1" style="position:relative; height: 15vh;">
                <img class="card-img-top" src="{{ item.media }}" style="object-fit: contain; height: 100%" alt=" ">
                <div class="text-center h5 m-0" style="position: absolute; bottom: 0; max-width: 95%">
                    <span class="badge badge-light opacity-75 text-truncate w-100">{{ item.name|e }}</span>
                </div>
            </div>

            <!-- Card body -->
            <div class="text-center px-1">
                <!-- Quantity buttons -->
                <div class="btn-group btn-group-toggle d-flex my-1" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="quantity" value="1" autocomplete="off" checked> 1
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="quantity" value="2" autocomplete="off"> 2
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="quantity" value="3" autocomplete="off"> 3
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="quantity" value="4" autocomplete="off"> 4
                    </label>
                </div>

                <!-- Price display & submit button -->
                <div class="input-group my-1">
                    <div class="input-group-prepend w-50">
                        <span class="input-group-text w-100">€{{ "%0.2f"|format(item.price|float / 100) }}</span>
                    </div>
                    <div class="input-group-append w-50">
                        <button type="submit" class="btn btn-primary w-100">Streep</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div> <!-- /#item-card-deck -->

{% endblock regular_content %}