.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.main-grid {
    display: grid;
    height: 100%;
    grid-column-gap: 0.5%;
    grid-template-columns: 20% auto 20%;
    grid-row-gap: 0.5%;
    grid-template-rows: 20% auto 20%;
}

.main-grid > div {
    background: rgba(59, 167, 51, 0.4);
}