/*
Author: Jelle H
*/

.opacity-0 {
    opacity: 0 !important;
}

.opacity-25 {
    opacity: 0.25 !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.opacity-75 {
    opacity: 0.75 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.sq-sm {
    width: 10vh !important;
    height: 10vh !important;
}

.sq-md {
    width: 15vh !important;
    height: 15vh !important;
}

.btn-sq {
    width: 15vh !important;
    height: 15vh !important;
    font-size: 6vh;
}

.login-display {
    width: calc(45vh + 1rem) !important; /* This value is determined by 3 * .btn-sq width + 1rem for margin */
    height: 10vh !important;
}

.login-display-sm {
    width: calc(45vh + 1rem) !important; /* This value is determined by 3 * .btn-sq width + 1rem for margin */
    height: 8vh !important;
}

.login-display * {
    font-size: 4vh;
}

.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}
.vertical-input-group .input-group:not(:first-child) * {
    border-top: 0;
}